html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#container {
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
}

#wrapper {
    display: grid;
    width: 100%;
    height: 80%;
    align-content: center;
    justify-content: center;
    grid-template-rows: 1.5rem 45rem 1.5rem;
    grid-template-columns: 45rem;
}

header {
    background-color: aquamarine;
}

#sketch-container {
    display: grid;
    background-color: blueviolet;
    padding: 0.5rem;
}

.grid-cell {
    background-color: rgb(246, 242, 247);
    border: 0.2rem solid;
    cursor: crosshair;
}

#footer-wrapper {
    background-color: rgb(197, 227, 255);
}