html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
}

#wrapper {
    display: grid;
    width: 100%;
    height: 80%;
    align-content: center;
    justify-content: center;
    grid-template-rows: 2rem 45rem 2rem;
    grid-template-columns: 45rem;
}

#header-wrapper, #footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-wrapper {
    background-color: aquamarine;
    padding: 0.7rem 1rem 0rem 1rem;
}

#grid-size-text {
    width: 8rem;
    height: 1rem;
    background-color: azure;
    text-align: end;
    padding-right: 0.4rem;
    border: 0.1rem black solid;
}

#sketch-container {
    display: grid;
    background-color: aquamarine;
    padding: 1rem;
}

.grid-cell {
    background-color: rgb(246, 242, 247);
    border: 0.1rem solid;
    cursor: crosshair;
}

#footer-wrapper {
    background-color: aquamarine;
    padding: 0rem 1rem 1rem 1rem;
}

.clean-grid {
    cursor: pointer;
}

#circle {
    width: 1rem;
    height: 1rem;
    border-radius: 55%;
    background-color: rgb(21, 21, 21);
}

